<nav class="navbar navbar-expand navbar-light bg-light">
  <a class="navbar-brand">{{ pageTitle }}</a>
  <ul class="nav nav-pills">
    <li>
      <a
        class="nav-link"
        routerLinkActive="active"
        routerLink="/welcome"
        [routerLinkActiveOptions]="{ exact: true }"
        >Home</a
      >
    </li>
    <li>
      <a
        class="nav-link"
        routerLinkActive="active"
        routerLink="/user-list"
        [routerLinkActiveOptions]="{ exact: true }"
        >User List</a
      >
    </li>
  </ul>
</nav>
<div class="container centercontainer">
  <router-outlet></router-outlet>
</div>
