/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";


.centercontainer{
    background-color: rgb(239 244 248);
    padding: 5%;
    margin-top: 5%;
}